<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="feedsio-dev" value="https://f.feedz.io/saveonclouds/dev/nuget" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
    <feedsio-dev>
      <add key="Username" value="random" />
      <add key="ClearTextPassword" value="T-3IgJqPxjY230yy3X8vdg68lFAj3yUP5WoxI" />
    </feedsio-dev>
  </packageSourceCredentials>
</configuration>