@{
    ViewData["Title"] = "Confirm Your Email Address";
}
<h1>Almost Done!</h1>
Congratulations. You have successfully signed up with Save On Clouds.

Before you can login, you need to confirm your email address.

Please check your mailbox, and find the message we have sent to you. Click on the link that is in the email to complete your registration.
