@model SaveOnClouds.Web.Models.Accounts.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Reset Password</h1>
<p>
    <h3>Forgot your password? No worries!</h3>
    Enter your email address below, and we will send you a link to reset your password.
</p>
@if (Model.IsProcessed)
{
    <div class="alert-warning">
        If you have an account with us you will receive an email from us.
    </div>
}
<form asp-action="ForgotPassword" method="post">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group col-4">
        <label asp-for="Email">Email Address:</label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset My Password</button>
</form>

If you know your password, use the <a asp-action="SignIn">Login Form</a>
