@model SaveOnClouds.Web.Models.Accounts.PasswordResetViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Your Password</h1>
<form asp-action="ResetPassword" method="post">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PasswordRepeat">Repeat Password:</label>
        <input type="password" asp-for="PasswordRepeat" class="form-control" />
    </div>

    <button type="submit">Reset Password</button>
</form>

