<a asp-action="Index" asp-controller="Profile">View Update Profile</a>
<a asp-action="ChangePassword" asp-controller="Profile">Update Password</a>
<a asp-action="ManageUsersAndGroups" asp-controller="Profile">Manage Users and Groups</a>
<a asp-action="ManageCloudResources" asp-controller="Profile">Manage Cloud Resources</a>