@model SaveOnClouds.Web.Models.Profile.ChangePasswordViewModel
@{
    ViewData["Title"] = "Update Password";
}

<h1>Index</h1>

<div id="rightPanel">
    <partial name="_ProfileNav"/>
</div>
<div class="container-fluid">

    @if (Model.HasAlreadyBeenUpdated)
    {
        <div class="alert-info">
            Your password has been changed.
        </div>
    }

    @if (!Model.CanChangePassword)
    {
        <div class="alert-warning">
            Sorry you do not user a password to login to Save On Clouds! You can only change your password if you have one, right?
        </div>
    }
    @if (ViewBag.Errors != null)
    {
        <div class="alert-warning">
            @string.Join(',',ViewBag.Errors);
        </div>
    }
    else
    {
        <form asp-action="ChangePassword" method="post">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="form-group">
                <label asp-for="CurrentPassword">Current Password:</label>
                <input type="text" asp-for="CurrentPassword" />
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">New password:</label>
                <input type="text" asp-for="NewPassword" />
            </div>

            <div class="form-group">
                <label asp-for="NewPasswordRepeat">Re-type new password:</label>
                <input type="text" asp-for="NewPasswordRepeat" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    }

</div>